{% extends "admin/layout.html" %}
{% block title %}Админка{% endblock %}
{% block content %}
<h2>Разделы админки</h2>
<ul class="list-group">
  <li class="list-group-item"><a href="/admin/posts">Посты</a></li>
  <li class="list-group-item"><a href="/admin/users">Пользователи</a></li>
  <li class="list-group-item"><a href="/admin/roles">Роли</a></li>
  <li class="list-group-item"><a href="/admin/tags">Теги</a></li>
  <li class="list-group-item"><a href="/admin/bookmarks">Закладки</a></li>
  <li class="list-group-item"><a href="/admin/votes">Голоса</a></li>
</ul>
{% endblock %}
