{% extends "admin/layout.html" %}
{% block title %}Редактировать роль{% endblock %}
{% block content %}
<h2>Редактировать роль</h2>
<form method="post">
  <div class="mb-2">
    <label>ID:</label>
    <input type="text" class="form-control" value="{{ role.id }}" readonly>
  </div>
  <div class="mb-2">
    <label>Название роли:</label>
    <input type="text" name="name" class="form-control" value="{{ role.name }}">
  </div>
  <button class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
